<h2>Edit Club</h2>
<%= render 'form' %>
<h3 class="edit"><%= link_to 'Delete', club_path(@club), method: :delete %></h3>
<h2>Edit Membership</h2>
<div class="clubmembers">
<h3>Current Members:</h3>
<% @club.memberships.each do |members| %>
	<p><%= members.user.email %> <%= link_to "Remove Member".html_safe, members, method: :delete, class: "fav" %></p>
<% end %>
</div>
<%= form_for @club.memberships.build do |f| %>
	<%= f.label :Users %>
  <%= f.collection_select(:user_id, User.all, :id, :email) %> 
  <%= f.hidden_field(:club_id)%>
	<%= f.submit 'Add Members', class: 'enter' %>
<% end %>

<%= form_for @club.memberships.build do |f| %>
	<%= f.label :Users %>
  <%= f.collection_select(:user_id, User.all, :id, :email) %>
  <%= f.hidden_field(:club_id)%>
	<%= f.submit 'Add Members', class: 'enter' %>
<% end %>
