<h2>Edit Club</h2>

<%= render 'form' %>

<h3 class="edit"><%= link_to 'Delete', club_path(@club), method: :delete %></h3>

<h2>Edit Membership</h2>
<h3>Current Members:</h3>
<% @club.memberships.each do |membership| %>
	<p><%= membership.email %></p>
<% end %>
<br>
<%= form_for @club.memberships.build do |f| %>
	<%= f.label :Users %>
  <%= f.collection_select(:user_id, User.all, :id, :email) %>
  <%= f.hidden_field(:club_id)%><br>
	<%= f.submit 'submit', class: 'enter' %>
<% end %>
