<h2>Edit Club</h2>

<%= render 'form' %>

<%= link_to 'Delete!', club_path(@club), method: :delete, class: 'delete' %>

Members:
<% @club.memberships.each do |membership| %>
	<p><%= membership.email %></p></div>
<% end %>


<h2>Edit Membership</h2>
<%= form_for @club.memberships.build do |f| %>
	<%= f.label :Users %>
  <%= f.collection_select(:user_id, User.all, :id, :email) %>
  <%= f.hidden_field(:club_id)%>
	<%= f.submit 'submit', class: 'enter' %>
<% end %>
