<h2><%= @club.name %> <%= link_to "(edit)", edit_club_path(@club) %></h2>

<img class='club-photo' src="<%= @club.img_url %>">

<h3>Meetings <%= link_to "(+)", new_club_meeting_path(@club) %></h3>
<% @meetings.each do |meeting| %>
	<div class="meeting"><%= link_to club_meeting_path(@club, meeting) do %>
    	<%= image_tag meeting.meeting_image, class: "display" %><% end %>
	<p><%= meeting.title %></p></div>
<% end %>
