<h1><%= @club.name %> </h1>
<div class="left">
	<img class='clubshowpic' src="<%= @club.img_url %>">
	<%=@club.description%></p>
	<br>
	<p>Number of Members: <%= @members.length %></p>
	<p>Number of Meetings: <%= @meetings.length %></p>
		<div class="edit">
			<%= link_to "Edit Club Info", edit_club_path(@club) %><br>
			<%= link_to "Add a Meeting", new_club_meeting_path(@club) %><br>
		</div>
</div>
<div class= "right">
	<div class="clubmeetings">
	<h3>Meetings:</h3>
	<% @meetings.each do |meeting| %>
		<div class="meeting"><%= link_to club_meeting_path(@club, meeting) do %>
	  <%= meeting.title%><% end %>
		<%= meeting.datetime %>
	</div>
	<% end %>
	</div>

	<div class="clubmembers">
	<h3>Members:</h3>
	<% @members.each do |members| %>
		<p><%= members.user.email %></p>
	<% end %>
	</div>
</div>
