<h1><%= @club.name %></h1>
<div class="left">
	<img class='clubshowpic' src="<%= @club.img_url %>">
	<%=@club.description%></p>
	<br>
	<p>Members:</p>
	<ol><% @members.each do |members| %>
		<li><%= members.user.email %></li>
	<% end %></ol>
	<br>
	<p>Total Members: <%= @members.length %></p>
	<p>Number of Meetings: <%= @meetings.length %></p>
		<div class="edit">
			<%= link_to "Edit Club Info", edit_club_path(@club) %><br>
			<%= link_to "Add a Meeting", new_club_meeting_path(@club) %><br>
		</div>
</div>
<div class= "right">
	<div class="clubmeetings">
	<h3>Meetings:</h3>
	<% @meetings.each do |meeting| %>
		<div class="meeting"><%= link_to club_meeting_path(@club, meeting) do %>
	  <%= meeting.title%><% end %>
		<p>Date: <%= meeting.datetime %></p>
		<p>Location: <%= meeting.location%></p>
		<p>Theme: <%= meeting.theme%></p>
		<img class='meetingshowpic' src="<%= meeting.meeting_image %>">
	</div>
	<% end %>
	</div>
</div>
