<h2> Meeting: <%= @meeting.title %></h2>
<%= image_tag @meeting.meeting_image, class: "meeting_photo" %>


<p>Date: <%= @meeting.date %></p>
<p>Location: <%= @meeting.location %></p>
<p>Address: <%= @meeting.address %></p>
<p>Details: <%= @meeting.details %></p>
<p>Host: <%= @meeting.host %></p>
<p>Time: <%= @meeting.time %></p>
<p>Attending: <%= @meeting.attending %></p>


<h3 class ="enter"><%= link_to 'Edit This Meeting', edit_club_meeting_path(@club, @meeting)%></h3>
