<!DOCTYPE html>
<html>
<head>
  <title>ClubHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to 'ClubHub', new_club_path %>
    <%= link_to 'Clubs', clubs_path %>
      <% if current_user %>
        <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
        <a href="#">Welcome, <%= current_user.email %></a>
      <% else %>
        <%= link_to 'Signup', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
  </nav>
  <div class = "container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  <footer></footer>
</body>
</html>
